@{
    ViewData["Title"] = "Threading.Channels";
}
<div class="text-center">
    <h1 class="display-4">Threading.Channels Live Stream</h1>
    <div id="video-pipelines" class="video-frame"></div>
</div>

